body {
    background-color: #cccccc;
    font-family: sans-serif;
    font-size: 13pt;
}

.menu {
    position: relative;
    list-style: none;
    background-color: #909090;
    padding: 10px;
    border: 2px solid #909090;
    border-radius: 10px;
    text-align: center;
}

.menu a li {
    display: inline-block;
}

.menu a {
    background-color: #909090;
    color: #303030;
    padding: 5px;
    border: 2px solid #606060;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #606060;
    color: #909090;
    transition: .5s;
    border: 2px solid #606060;
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
}

p {
    text-indent: .2in;
    text-align: justify;
}

.content {
    padding-left: 20%;
    padding-right: 20%;
}

.image {
  text-align: center;
  font-style: none;
  font-size: 13pt;
  color: #333;
  text-indent: 0;
  border: 2px solid #303030;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0.5em;
}

.image img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 450px) {
    .menu {
        width: 320px;
        right: 50%;
        left: 50%;
        margin-left: -170px;
        margin-right: -160px;
    }

    .menu a {
        display: block;
        margin-top: 5px;
    }

    .content {
        padding: 5%;
    }
}
